* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    background-color: white;
}

header {
    background-image: url(../img/jumbo.png);
    background-color: aqua;
}

.logo{
    height: 50px;
}

.top-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
}

.nav-search {
    align-content: center;
    flex-basis: 50%;
    padding: 1rem;
    height: 100px;
}

.nav-list {
    text-align: center;
    padding: 1rem;
    flex-basis: 25%;
    height: 100px;
}

button{
    margin-right: 10px;
    padding: 1rem;
    border-radius: 25px 25px;
    
}

a{
    color: white;
    text-decoration: none;
}

.mac{
    color: black;
}

.browser{
background-color: black;
}


h1{
    text-align: center;
    font-size: 2.5rem;
}

.jumbotron{
    display: flex;
}

.content {
    text-align: center;
    padding: 1rem;
    color: white;
    width: 700px;
    margin: 0 auto;
    height: 200px;
    height: 500px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
}

.grey-bck {
    background-color: grey;
}

.small-div {
    padding: 1rem;
    min-height: 300px;
    margin: 5rem 0;
    flex-basis: 30%;
}

.title{
    text-align: left;
    font-weight: 700;
    font-size: 3rem;
}

.jumbo-text{
    padding: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
}

p{
    padding-top: 1rem;
    text-align: justify;
    text-align: left;
    font-size: 2rem;
}

.big-div {
    padding-left: 2rem;
    flex-basis: 70%;
    margin: 5rem 0;
}

.subtext {
    margin: 1rem 0 auto;
    height: 150px;
    border: 2px solid black;
    
}

[class*="rw"] {
    border: 2px solid black;
    background-color: red;
}



.row-1 {
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 100px;
    
}

.row-2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    min-height: 220px;
    
}

.row-3 {
    margin-bottom: 1rem;
    min-height: 100px;
    width: 200px;
    
}

footer {
    padding: 1rem;
    justify-content: space-around;
    border: 2px solid darkgreen;
    flex-wrap: wrap;
    display: flex;
    min-height: 500px;
    background-color: rgb(59, 59, 59);
}

[class*="col"],
.discord {
    border: 2px solid black;
    background-color: red;

}

.column-1 {
    width: 40%;
    min-height: 100px;

}

.column-2 {
    width: 15%;
    height: 200px;
}

.column-3 {
    width: 15%;
    height: 200px;
}

.column-4 {
    width: 15%;
    height: 400px;
}

.column-5 {
    width: 15%;
    height: 200px;
}

.discord {
    margin: 1rem 0 auto;
    width: 60%;
    height: 200px;
}